<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'Profile' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Change Nick' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" style="text-align: center;">
        <h3 class="playername">{{userNick}}</h3>
      </ion-col>
      <ion-col size="12" size-md="6" style="text-align: center;">
        <ion-input [(ngModel)]="nick" placeholder="enter new nickname..."></ion-input>
      </ion-col>
      <ion-col size="12" size-md="6" style="text-align: center;">
        <p (click)="changeNick()" style="color: #3880ff;">{{'Save changes' | translate}}</p>
      </ion-col>
    </ion-row>
  </div>
  
</ion-content>
