<ion-content>
  <div class="container">
    <ion-row class="ion-justify-content-center">
      <img src="assets/logo200x200.png" alt="logo" class="firebase-logo">
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-lg="6">
        <ion-input class="input1" mode="md" type="email" [(ngModel)]="email" placeholder="{{'Email' | translate}}" clearInput="true"></ion-input>
      </ion-col>      
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-lg="6">
        <ion-input class="input1" mode="md" type="password" [(ngModel)]="password" placeholder="{{'Password' | translate}}" clearInput="true"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-lg="6">
        <ion-button mode="ios" type="submit" color="danger" expand="block" (click)="login()">{{'Login' | translate}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-lg="6">
        <ion-text class="error ion-text-center">{{error}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col style="text-align: center;" size="10" size-lg="6">
        <span class="divider line one-line" translate>or</span>
        <span class="already" translate>NewUser</span>
        <ion-button mode="ios" [routerLink]="['/signup']" expand="block" color="tertiary" translate>Sign up</ion-button>        
      </ion-col>
    </ion-row>
    
  </div>
</ion-content>

<ion-footer class="ion-no-border" mode="ios">
  <ion-list>
    <ion-item>
      <ion-label>{{'Language' | translate}}</ion-label>
      <ion-select cancelText="{{'Cancel' | translate}}" placeholder="{{'Select One' | translate}}" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
        <ion-select-option value="es">{{'Spanish' | translate}}</ion-select-option>
        <ion-select-option value="en">English</ion-select-option> 
      </ion-select>
    </ion-item>
  </ion-list>
</ion-footer>
