<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'Profile' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Change Password' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form #f="ngForm" novalidate (ngSubmit)="onSubmit(f)">
      <ion-list>
        <ion-item>
          <ion-label position="floating" translate>Current password</ion-label>
          <ion-input type="password" name="password" required [(ngModel)]="data.password"></ion-input>
        </ion-item>

        <ion-item lines="none" [hidden]="f.controls.password && (f.controls.password.valid || (f.controls.password.pristine && !isSubmitted))">
          <ion-text color="danger">
            <small translate>Field required</small>
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="floating" translate>New password</ion-label>
          <ion-input type="password" required name="newPassword" [(ngModel)]="data.newPassword"></ion-input>
        </ion-item>

        <ion-item lines="none" [hidden]="f.controls.newPassword && (f.controls.newPassword.valid || (f.controls.newPassword.pristine && !isSubmitted))">
          <ion-text color="danger">
            <small translate>Field required</small>
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label position="floating" translate>Confirm password</ion-label>
          <ion-input type="password" required name="confirmNewPassword" [(ngModel)]="data.confirmNewEmail"></ion-input>
        </ion-item>

        <ion-item lines="none" [hidden]="f.controls.confirmNewPassword && (f.controls.confirmNewPassword.valid || (f.controls.confirmNewPassword.pristine && !isSubmitted))">
          <ion-text color="danger">
            <small translate>Field required</small>
          </ion-text>
        </ion-item>

      </ion-list>

      <ion-button type="submit" strong [disabled]="!f.valid" expand="block" style="width: 95%; align-self: center; margin-top: 5%;" translate>Save changes</ion-button>

    </form>

  </div>
</ion-content>
