<ion-header mode='ios'>
  <ion-toolbar>
    <ion-title>{{'Matches' | translate}}</ion-title>
    <ion-buttons slot="end" padding-start (click)="profile()">
      <ion-icon name="person-circle-outline" class="fontSize"></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="start" padding-start (click)="logout()">
      <ion-icon name="log-out-outline" class="fontSize"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar color="primary">
 
    <ion-segment 
    value="today" 
    color="tertiary" 
    scrollable="true"
    mode="ios"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)">
      <ion-segment-button value="today">
        <ion-label>{{'Today' | translate}}</ion-label>
      </ion-segment-button>
 
      <ion-segment-button value="next">
        <ion-label>{{'Soon' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="containerToday" *ngIf="segmentModel === 'today'">
    <ion-text>Today</ion-text>
    <ion-list *ngIf="listOfMatchesToday">
      <ion-grid>
        <ion-row *ngFor="let match of listOfMatchesToday;" class="ion-justify-content-center">
          <ion-icon name="star-outline" (click)="addFav(match.id)" *ngIf="!match.fav"></ion-icon>
          <ion-icon name="star-outline" (click)="removeFav(match.id)" *ngIf="match.fav"></ion-icon>
          <ion-col size="3" class="ion-text-center">
            <ion-avatar style="margin-left: 4vw;">
              <img [src]="match.picHomeTeam" alt="">
            </ion-avatar>
            <p>{{match.homeTeam.name}}</p>
          </ion-col>

          <ion-col size="4" style="text-align: center; margin-top: 2vh;">
            <span ion-text color="color1">{{match.time}}</span>
          </ion-col>

          <ion-col size="4" class="ion-text-center">
            <ion-avatar style="margin-left: 8vw;">
              <img [src]="match.picAwayTeam" alt="">
            </ion-avatar>
            <p>{{match.awayTeam.name}}</p>
          </ion-col>
          
        </ion-row>
      </ion-grid>

    </ion-list>
    <ion-list *ngIf="!data">
      <ion-text>Not matches found for today</ion-text>
    </ion-list>
  </div>
  <!-- <div class="containerToday" *ngIf="segmentModel === 'next'">
    <ion-text>Soon</ion-text>
    <ion-list *ngIf="dataSoon">
      <ion-item *ngFor="let match of dataSoon" lines="none">
        <div class="local">
          <p>{{match.homeTeam.name}}</p>
        </div>
        <div class="mid">
          <ion-avatar slot="start">
            <img [src]="match.competition.area.ensignUrl" alt="">
          </ion-avatar>
        </div>
        <div class="away">
          <p>{{match.awayTeam.name}}</p>
        </div>
        
      </ion-item>

    </ion-list>
    <ion-list *ngIf="!dataSoon">
      <ion-text>Not matches found for today</ion-text>
    </ion-list>
  </div> -->
  <div class="container" *ngIf="segmentModel === 'next'">
    <ion-text>Soon</ion-text>
    <ion-list *ngIf="dataSoon">
      <ion-grid>
        <ion-row *ngFor="let match of dataSoon">
          <ion-col text-center>
            <p>{{match.homeTeam.name}}</p>
          </ion-col>

          <ion-col col-auto text-center style="text-align: center;">
            <ion-avatar>
              <!-- <img [src]="match.competition.area.ensignUrl" alt=""> -->
              <span ion-text color="color1">{{match.utcDate}}</span>
            </ion-avatar>
          </ion-col>

          <ion-col text-end>
            <p>{{match.awayTeam.name}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>

    <!-- <ion-list *ngIf="dataSoon">
      <ion-item *ngFor="let match of dataSoon" lines="none">        
        <ion-grid>
          <ion-row>
            <ion-col col>
              <ion-item>
                <img src="" alt="" item-right>
                <p text-right>{{match.homeTeam.name}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-auto>
              <span ion-text color="color1">{{match.utcDate}}</span>
              <p ion-text color="color2">Next Match</p>
            </ion-col>
            <ion-col col>
              <ion-item>
                <img src="" alt="" item-left>
                <p>{{match.awayTeam.name}}</p>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> 

    </ion-list>-->
    <ion-list *ngIf="!dataSoon">
      <ion-text>Not matches found for soon</ion-text>
    </ion-list>
  </div>
</ion-content>
