<ion-header mode='ios'>
  <ion-toolbar>
    <ion-title>{{'Matches' | translate}}</ion-title>
    <ion-buttons slot="end" padding-start (click)="profile()">
      <ion-icon name="person-circle-outline" class="fontSize"></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="start" padding-start (click)="logout()">
      <ion-icon name="log-out-outline" class="fontSize"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar color="primary">
 
    <ion-segment 
    value="today" 
    color="tertiary" 
    scrollable="true"
    mode="ios"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)">
      <ion-segment-button value="today">
        <ion-label>{{'Today' | translate}}</ion-label>
      </ion-segment-button>
 
      <ion-segment-button value="next">
        <ion-label>{{'Soon' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="segmentModel === 'today'">
    <ion-list *ngIf="listOfMatchesToday">
      <ion-grid>
        <ion-row *ngFor="let match of listOfMatchesToday;" class="ion-justify-content-center">
          <ion-icon style="margin-top: 3vh;" name="star-outline" (click)="addFav(match.id)" *ngIf="!match.fav"></ion-icon>
          <ion-icon style="margin-top: 3vh;" name="star-outline" (click)="removeFav(match.id)" *ngIf="match.fav"></ion-icon>
          <ion-col size="3" class="ion-text-center" [routerLink]="['/match-details', match.id]">
            <ion-avatar style="margin-left: 4vw;">
              <img [src]="match.picHomeTeam" alt="">
            </ion-avatar>
            <p>{{match.homeTeam.name}}</p>
          </ion-col>

          <ion-col size="4" style="text-align: center; margin-top: 2vh;" [routerLink]="['/match-details', match.id]">
            <span>{{match.time}}</span>
          </ion-col>

          <ion-col size="4" class="ion-text-center" [routerLink]="['/match-details', match.id]">
            <ion-avatar style="margin-left: 8vw;">
              <img [src]="match.picAwayTeam" alt="">
            </ion-avatar>
            <p>{{match.awayTeam.name}}</p>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="getInfoTeams()" expand="block">Update info</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>
    <ion-list *ngIf="!listOfMatchesToday">
      <ion-text>Not matches found for today</ion-text>
    </ion-list>
  </div>

  <div *ngIf="segmentModel === 'next'">
    <ion-list *ngIf="listOfMatchesSoon">
      <ion-grid>
        <ion-row *ngFor="let match of listOfMatchesSoon;" class="ion-justify-content-center">
          <ion-icon name="star-outline" (click)="addFav(match.id)" *ngIf="!match.fav"></ion-icon>
          <ion-icon name="star-outline" (click)="removeFav(match.id)" *ngIf="match.fav"></ion-icon>
          <ion-col size="3" class="ion-text-center">
            <ion-avatar style="margin-left: 4vw;">
              <img [src]="match.picHomeTeam" alt="">
            </ion-avatar>
            <p>{{match.homeTeam.name}}</p>
          </ion-col>

          <ion-col size="4" style="text-align: center; margin-top: 2vh;">
            <span style="font-size: small;">{{match.time}}</span>
          </ion-col>

          <ion-col size="4" class="ion-text-center">
            <ion-avatar style="margin-left: 8vw;">
              <img [src]="match.picAwayTeam" alt="">
            </ion-avatar>
            <p>{{match.awayTeam.name}}</p>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="getInfoTeams()" expand="block">Update info</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>
    <ion-list *ngIf="!listOfMatchesSoon">
      <ion-text>Not matches found for soon</ion-text>
    </ion-list>
  </div>
</ion-content>
