<ion-header mode='ios'>
  <ion-toolbar>
    <ion-title>{{'Matches' | translate}}</ion-title>
    <ion-buttons slot="end" padding-start (click)="profile()">
      <ion-icon name="person-circle-outline" class="fontSize"></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="start" padding-start (click)="logout()">
      <ion-icon name="log-out-outline" class="fontSize"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar color="primary">
 
    <ion-segment 
    value="today" 
    color="tertiary" 
    scrollable="true"
    mode="ios"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)">
      <ion-segment-button value="today">
        <ion-label>{{'Today' | translate}}</ion-label>
      </ion-segment-button>
 
      <ion-segment-button value="next">
        <ion-label>{{'Soon' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="containerToday" *ngIf="segmentModel === 'today'">
    <ion-text>Today</ion-text>
    <ion-list *ngIf="data">
      <ion-item *ngFor="let match of (data | async)">
        {{match}}
      </ion-item>

    </ion-list>
    <ion-list *ngIf="!data">
      <ion-text>Not matches found for today</ion-text>
    </ion-list>
  </div>
  <div class="containerToday" *ngIf="segmentModel === 'next'">
    <ion-text>Soon</ion-text>
    <ion-list *ngIf="dataSoon">
      <ion-item *ngFor="let match of (dataSoon | async)">
        {{match.id}}
      </ion-item>

    </ion-list>
    <ion-list *ngIf="!dataSoon">
      <ion-text>Not matches found for today</ion-text>
    </ion-list>
  </div>
</ion-content>
