<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{'Back' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{league}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="{{homeTeamPic}}" alt="">
      </ion-col>
      <ion-col>
        <span>{{matchTime}}</span>
      </ion-col>
      <ion-col>
        <img src="{{awayTeamPic}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
