<ion-content>
  <div class="container">
    <ion-row class="ion-justify-content-center">
      <img src="assets/logo200x200.png" alt="logo" class="firebase-logo">
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-lg="6">
        <ion-input class="input1" mode="md" type="email" [(ngModel)]="email" placeholder="Enter email" clearInput="true"></ion-input>
      </ion-col>      
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-lg="6">
        <ion-input class="input2" mode="md" type="password" [(ngModel)]="password" placeholder="Enter password" clearInput="true"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-lg="6">
        <ion-input class="input2" mode="md" type="password" [(ngModel)]="confpassword" placeholder="Confirm password" clearInput="true"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-lg="6">
        <ion-button mode="ios" type="submit" color="danger" expand="block" (click)="signup()">Sign Up</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-lg="6">
        <ion-text class="error ion-text-center">{{error}}</ion-text>
      </ion-col>
    </ion-row>
  </div>
</ion-content>