<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" text="{{'Back' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon style="color: white;" slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/football-avatar.jpg" alt="avatar">
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">{{userNick}}</h3>
      <h5 class="country">SPAIN</h5>
      <!-- <h6 class="ranking">Current ranking: <ion-chip>
        <ion-label>2</ion-label>
        </ion-chip>
      </h6> -->
    </div>
    <ion-button expand="full" color="primary" routerLink="/profile/change-email">{{'Change Email' | translate}}</ion-button>
    <ion-button expand="full" color="secondary" routerLink="/profile/change-password">{{'Change Password' | translate}}</ion-button>
    <ion-button expand="full" color="secondary" routerLink="/profile/change-nick">{{'Change Nick' | translate}}</ion-button>
    <p translate style="text-align: center; color: red;" (click)="logout()">Logout</p>
  </div>
</ion-content>

<ion-footer class="ion-no-border" mode="ios">
  <ion-list>
    <ion-item>
      <ion-label>{{'Language' | translate}}</ion-label>
      <ion-select cancelText="{{'Cancel' | translate}}" placeholder="{{'Select One' | translate}}" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
        <ion-select-option value="es">{{'Spanish' | translate}}</ion-select-option>
        <ion-select-option value="en">English</ion-select-option> 
      </ion-select>
    </ion-item>
  </ion-list>
</ion-footer>
